# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django migrations (optional, ignore compiled files)
**/migrations/*.pyc
**/migrations/__pycache__/

# Django local files (optional)
*.sqlite3
*.log
*.env
